[color]
    ui = true
    diff = true
    status = true
    branch = true
    interactive = true
[core]
    excludesfile = ~/.gitignore.global
[branch]
    autosetuprebase = always
[push]
    default = simple
[delta]
	side-by-side = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[user]
	name = Linghan Hu
	email = yuma@vm0.ai
